{% extends "@Dashboard/widget.html.twig" %}
{% trans_default_domain('ssi') %}
{% block title %}
    <h3><i class="fa fa-newspaper"></i> {{ 'Last Logs'|trans }}</h3>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light text-dark">
                <div id="logContent" class=""></div>
            </div>
        </div>
    </div>
{% endblock %}
