security:
    role_hierarchy:
        ROLE_ADMIN:       [ROLE_USER]
    encoders:
        ICS\SsiBundle\Entity\User:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        ssi_user_provider:
            entity:
                class: ICS\SsiBundle\Entity\User
                property: username
    firewalls:
        main:
            anonymous: true
            lazy: true
            provider: ssi_user_provider
            guard:
                authenticators:
                    - ICS\SsiBundle\Security\LoginAuthenticator
            logout:
                path: ics_ssi_logout
                # where to redirect after logout
                # target: app_any_route

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true